<div class="container-fluid">
    <div id="ui-view" data-select2-id="ui-view">
        <div>
            <div class="card">
                <div class="card-header">Invoice
                    <strong>#{{node.order_id}}</strong>
                    
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm-4">
                            <h6 class="mb-3">From: #{{ node.customer.user_id }} </h6>
                            <div>
                                <strong>{{ node.customer.first_name }} {{ node.customer.last_name }}</strong>
                            </div>
                            <div>{{ node.customer.phone_number }} </div>
                            <div>{{ node.customer.email }} </div>
                            <div>{{ node.customer.address }} </div>
                            <div>{{ node.customer.place }} {{ node.customer.area }} </div>
                        </div>
                       
                        <div class="col-sm-4">
                            <h6 class="mb-3">Details:</h6>
                            <div>Orders
                                {% for order in node.orders.all %}
                                <strong>#{{ order }}, </strong>
                                {% endfor %}
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-4 col-sm-5 ml-auto">
                            <table class="table table-clear">
                                <tbody>
                                    <tr>
                                        <td class="left">
                                            <strong>Total</strong>
                                        </td>
                                        <td class="right">KWD {{ node.total_amnt_to_pay }}</td>
                                    </tr>
                                    <tr>
                                        <td class="left">
                                            <strong>Paid</strong>
                                        </td>
                                        <td class="right">
                                            <strong>KWD {{ node.total_paid_amount }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="left">
                                            <strong>Balance</strong>
                                        </td>
                                        <td class="right">
                                            <strong>KWD     {{ node.balance_amount }} ({{node.get_payment_status_display }})</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>				                            

<style>
.card {
    margin-bottom: 1.5rem
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: .25rem
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f0f3f5;
    border-bottom: 1px solid #c8ced3
}
</style>