<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dishdasha - Print Invoice</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="fakeHeader">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="backButton">
                        <a href="/"><i class="fas fa-arrow-left"></i> Back</a>
                    </div>
                </div>
                <div class="col-6 text-end">
                    <button onClick="window.print()" id="id_print" class="printBtnPrintPage btn-outline-primary">
                        <i class="fas fa-print"></i>  Print Invoice
                    </button>
                </div>
            </div>
           

        </div>
    </div>

    <div class="container" id="printableId">
        <div id="ui-view" class="printWrap" data-select2-id="ui-view">
            <div class="row">
                <div class="printWrap">
                    <div class="printHeader">
                        <img src="/static/images/logo.png">
                    </div>
                    <div class="mb-4"></div>

                    <div class="card">
                        <div class="card-header">Order
                            <strong>#{{node.order_id}}</strong>
                            <div style="float:right">
                            </div>
                            
                        </div>
                        <div class="card-body">
                            <div class="dateTime row">
                                <span>{{ today }}</span>
                                <span>{{ node.branch.title }}</span>
                                {% if node.branch.address %}
                                    <span>{{ node.branch.address }}</span>
                                {% endif %}
                            </div>
                            <div class="mb-3"></div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <h6 class="mb-3 fromCust">Customer: {{ node.customer.user_id }} </h6>
                                    <div>
                                        <strong>{{ node.customer.first_name }} {{ node.customer.last_name }}</strong>
                                    </div>
                                    <div>{{ node.customer.phone_number }} </div>
                                    <div>{{ node.customer.email }} </div>
                                    <div>{{ node.customer.address }} </div>
                                    <div>{{ node.customer.place }} {{ node.customer.area }} </div>
                                </div>

                                <div class="col-sm-12">

                                    <div class="purchaseItems">
                                        <hr>
                                        <h6 class="printSubtitle">In-Store</h6>
                                        <hr>
                                        {% for measurement in node.measurements.all %}
                                        <div class="order">
                                            <div class="row">
                                                <div class="col-6">
                                                    <span>{{ measurement.price }}</span>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <span>1 X {{ measurement.measure_id }}</span>
                                                    <span>Fabric Type - {{ measurement.fb_type.title }} </span>
                                                    <span>Tailoring Style - {{ measurement.tailr_styl.title }} </span>
                                                    <small>Color - {{ measurement.get_collar_display }}</small>
                                                    <small>Length - {{ measurement.total_meters }} meters</small>

                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        
                                    </div>
 
                                    <hr>

                                    <div class="totalWrap">
                                        <div class="row">
                                            <div class="col-6">
                                                <span>Total</span>
                                            </div>
                                            <div class="col-6 text-right">
                                                <span>
                                                    <b>
                                                        KWD {{ node.total_amnt_to_pay }}
                                                    </b>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="totalWrap">
                                        <div class="row">
                                            <div class="col-6">
                                                <span>Paid</span>
                                            </div>
                                            <div class="col-6 text-right">
                                                <span>
                                                    <b>
                                                        KWD {{ node.total_paid_amount }}
                                                    </b>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="totalWrap">
                                        <div class="row">
                                            <div class="col-6">
                                                <span>Balance</span>
                                            </div>
                                            <div class="col-6 text-right">
                                                <span>
                                                  
                                                        KWD {{ node.balance_amount }} <br>
                                                        <b>({{node.get_payment_status_display }})</b>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-4"></div>
                                    <div class="credit text-center">
                                        <hr>
                                        Thank you for being unique!
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <style>
        .card {
            margin-bottom: 1.5rem
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #c8ced3;
            border-radius: .25rem
        }

        .card-header:first-child {
            border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
        }

        .card-header {
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            background-color: #f0f3f5;
            border-bottom: 1px solid #c8ced3
        }

        @media print {
            #id_print {
                display: none;
            }
            .fakeHeader{
                display: none;
            }
        }

        
    </style>
    <script src="/static/js/all.js"></script>

    <script>   
        
        $(document).ready(function () {
            $("#id_print").trigger('click'); 


        });
    </script>
</body>

</html>
