{% load static %}
<header class="">
   <div class="container">
 
      <div class="row">
          <div class="col-4 homeLocWrap">
              <a href="/">
                <i class="fas fa-home"></i>
              </a>
              <select name="" id="storeSelector">
                  <option value="">Salhia</option>
              </select>            
          </div>
          <div class="col-4 headerLogo">
                <a href="/">
                    <img src="/static/images/logo.png" alt="">
                </a>
          </div>
          <div class="col-4 userLog">
                <p>Welcome {{request.user.username }}</p>
                <a href="{% url 'accounts:logout' %}" class="signout">
                    Sign Out <i class="fas fa-power-off"></i>
                </a>
          </div>
      </div>
   </div>
</header>