{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Dishdasha</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.min.css" rel="stylesheet"> -->
</head>
<body>

    {% include "common/header.html" %}

    <div class="container">
        <div class="orderFlowWrap">
            <div class="orderFlow">
                <div class="row">
                    <div class="col-12">
                        <div class="masterSearchWrap">
                            <form action="{% url 'dashboard:customer_profile' %}"
                                class="user_input_form" method="post">{% csrf_token %}                            
                                    <input id="inputOrigin2" class="form-control form-control-lg" type="text" 
                                        placeholder="Search - Customer, Order"
                                        name="user_input" aria-label=".form-control-lg example">
                            </form>
                            <form action="{% url 'orders:order_submission' 00 %}"
                                class="order_input_form" method="post">{% csrf_token %}                            
                                    <input id="inputOrigin" class="form-control form-control-lg" type="hidden" 
                                        placeholder="Search - Customer, Order"
                                        name="user_input" aria-label=".form-control-lg example">
                            </form>
                        
                            {% comment %} <select class="selectpicker  form-control-lg" data-show-subtext="true" data-live-search="true">
                                <option data-subtext="" value="">No found, will create a new customer.</option>
                                <option data-subtext="Rep California" value="">Tom Foolery</option>
                                <option data-subtext="Sen California" value="">Bill Gordon</option>                                
                            </select> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="dashGridItemWrap">
                            <a href="#">
                                <div class="dashGridItem" id="id_grid1">
                                    <img src="/static/images/icon_Tailoring.svg" alt="">
                                </div>
                                <h4>Tailoring</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dashGridItemWrap">
                            <a href="#">
                                <div class="dashGridItem">
                                    <img src="/static/images/icon_Accessories.svg" alt="">
                                </div>
                                <h4>Accessories</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dashGridItemWrap">
                            <a href="#">
                                <div class="dashGridItem">
                                    <img src="/static/images/icon_Fabic.svg" alt="">
                                </div>
                                <h4>Fabrics</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dashGridItemWrap">
                            <a href="#">
                                <div class="dashGridItem">
                                    <img src="/static/images/icon_Katra.svg" alt="">
                                </div>
                                <h4>Katra</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dashGridItemWrap">
                            <a href="{% url 'dashboard:gallery' %}">
                                <div class="dashGridItem">
                                    <img src="/static/images/icon_Gallery.svg" alt="">
                                </div>
                                <h4>Gallery</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dashGridItemWrap">
                            <a href="{% url 'dashboard:pending_ordrs' %}">
                                <div class="dashGridItem">
                                    <img src="/static/images/icon_Gallery.svg" alt="">
                                </div>
                                <h4>PENDING ORDERS</h4>
                            </a>
                        </div>
                    </div>
                    {% comment %} <div class="col-md-12">
                        <div class="dashGridItemWrap">
                            <a href="{% url 'dashboard:pending_ordrs' %}">
                                <h4></h4>
                            </a>
                        </div>
                    </div> {% endcomment %}
                    
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/all.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js" integrity="sha256-erF9fIMASEVmAWGdOmQi615Bmx0L/vWNixxTNDXS4FQ=" crossorigin="anonymous"></script> -->
    <script>
    $(document).ready(function () {
        $(function() {
            $("#inputOrigin2").autocomplete({
            source: "/origin_airport_search/",
            select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
            },
            minLength: 2,

            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                console.log(item)
                 return $( "<li>" )

                .append( "<div class='resultData idData'><span><i class='fas fa-id-badge'></i> " + item.id + "</span></div><div class='resultData nameData'><span><i class='fas fa-user'></i> " + item.first_name + "</span></div><div class='resultData phoneData'><span><i class='fas fa-phone-alt'></i> " + item.phone + "</span></div><div class='resultData emailData'><span><i class='fas fa-envelope'></i> " + item.email + "</span></div>" )
                .appendTo( ul );
            };
        });

      

        function AutoCompleteSelectHandler(event, ui)
        {
            var selectedObj = ui.item;
            console.table(selectedObj);
            $("#inputOrigin2").val(selectedObj.user_id);
            $(".user_input_form").submit();
        }

       
        $("#id_grid1").click(function(){
            $(".order_input_form").submit();
        })

        $('.ui-menu-item').append('<li>Sample</li>');

    });
    </script>    
</body>
</html>