<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../static/css/style.css">
    </head>
    <body>
         
        <div class="fakeHeader">
            <div class="container">
                <div class="backButton">
                    <a href="#"><i class="fas fa-arrow-left"></i> Back</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="orderFlowWrap">
                <div class="orderFlow overFlowScroll">
                    <div class="formPlate mb-4">
                        <div class="titleWrap">
                            <h3>
                                Customer Details
                            </h3>
                        </div>
                        
                        <div class="dataRow">
                            <div class="row">
                                <div class="col-2">
                                    <span>
                                        DD 123
                                    </span>
                                </div>
                                <div class="col-3">
                                    <span>
                                        Name Surname
                                    </span>
                                </div>
                                <div class="col-3">
                                    <span>
                                        +971 9876543210
                                    </span>
                                </div>
                                <div class="col-4">
                                    <span>
                                        emailid@domain.com 
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="subtitleWrap">
                        <h3>
                            Existing orders
                        </h3>
                    </div>

                    <div class="list-group">
                        <div class="list-group-inwrap">
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <h5 class="mb-2">Order ID - ABCD1234</h5>
                                <div class="editButton">
                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> 
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <h6 class=""><i class="fas fa-calendar-alt"></i> <small>Delivery Date -</small> Nov 12, 2021</h6>
                                <div class="badges-wrap">
                                    <span class="badge bg-secondary">Ordered</span>
                                    <span class="badge bg-success">Not Paid</span>
                                </div>
                            </div>
                            
                            <hr>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Fabric Type</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>Cotton</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Tayloring Style</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>Style 1</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Color</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>White</span>
                                    </div>
                                </li>
                            </ul>

                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Total Amt</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>50 KWD</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Total paid</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>25 KWD</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Balance</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>25 KWD</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                                        
                    <div class="list-group">
                        <div class="list-group-inwrap">
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <h5 class="mb-2">Order ID - ABCD1234</h5>
                                <div class="editButton">
                                    <button type="button" class="btn btn-outline-primary"> 
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <h6 class=""><i class="fas fa-calendar-alt"></i> <small>Delivery Date -</small> Nov 12, 2021</h6>
                                <div class="badges-wrap">
                                    <span class="badge bg-secondary">Ordered</span>
                                    <span class="badge bg-success">Partially Paid</span>
                                </div>
                            </div>
                            
                            <hr>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Fabric Type</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>Cotton</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Tayloring Style</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>Style 1</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Color</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>White</span>
                                    </div>
                                </li>
                            </ul>

                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Total Amt</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>50 KWD</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Total paid</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>25 KWD</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Balance</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>25 KWD</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="subtitleWrap">
                        <h3>
                            Completed orders
                        </h3>
                    </div>

                                     
                    <div class="list-group">
                        <div class="list-group-inwrap">
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <h5 class="mb-2">Order ID - ABCD1234</h5>
                                <div class="editButton">
                                    <button type="button" class="btn btn-outline-primary"> 
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <h6 class=""><i class="fas fa-calendar-alt"></i> <small>Delivery Date -</small> Nov 12, 2021</h6>
                                <div class="badges-wrap">
                                    <span class="badge bg-secondary">Ordered</span>
                                    <span class="badge bg-success">Not Paid</span>
                                </div>
                            </div>
                            
                            <hr>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Fabric Type</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>Cotton</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Tayloring Style</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>Style 1</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Color</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>White</span>
                                    </div>
                                </li>
                            </ul>

                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Total Amt</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>50 KWD</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Total paid</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>25 KWD</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Balance</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>25 KWD</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>

       <!-- Modal -->
       
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="formWrap">
                            <form action="">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="inputWrap">
                                            <label for="" class="form-label">First Name</label>
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="inputWrap">
                                            <label for="" class="form-label">Place</label>
                                            <select name="" id="placeList" class="form-select">
                                                <option value="">Sample</option>
                                                <option value="">Sample</option>
                                                <option value="">Sample</option>
                                                <option value="">Sample</option>
                                                <option value="">Sample</option>
                                                <option value="">Sample</option>
                                                <option value="">Sample</option>
                                                <option value="">Sample</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="../../static/js/all.js" async defer></script>
    </body>
</html>