{% load static %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
         
        <div class="fakeHeader">
            <div class="container">
                <div class="backButton">
                    <a href="/"><i class="fas fa-arrow-left"></i> Back</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="orderFlowWrap">
                <div class="orderFlow overFlowScroll">
                    <div class="formPlate mb-4">
                        <div class="titleWrap">
                            <h3>
                                Customer Details
                            </h3>
                        </div>
                        
                        <div class="dataRow">
                            <div class="row">
                                <div class="col-2">
                                    <span>
                                        {{ customer_obj.user_id }}
                                    </span>
                                </div>
                                <div class="col-3">
                                    <span>
                                        {{ customer_obj.first_name }} {{ customer_obj.last_name }}
                                    </span>
                                </div>
                                <div class="col-3">
                                    <span>
                                        <img src="{{ customer_obj.country.flag }}"> {{ customer_obj.phone_number }}
                                    </span>
                                </div>
                                <div class="col-4">
                                    <span>
                                        {{ customer_obj.email }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% if existing_orders %}
                    <div class="subtitleWrap">
                        <h3>
                            Existing orders
                        </h3>
                    </div>
                    {% for exist_order in existing_orders %}
                    
                    <div class="list-group">
                        <div class="list-group-inwrap">
                            <div class="d-flex w-100 justify-content-between mb-2">
                                    <h5 class="mb-2">Order ID - {{ exist_order.order_id }}</h5>
                            </div>
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <h6 class=""><i class="fas fa-calendar-alt"></i> <small>Delivery Date -</small> {{ exist_order.measurements.all.0.order.deliver_at }}</h6>
                                <div class="badges-wrap">
                                    <span class="badge {% if exist_order.order_status == 'OS1' %}bg-danger{% endif %}
                                                        {% if exist_order.order_status == 'OS2' %}bg-warning text-dark{% endif %}
                                                        {% if exist_order.order_status == 'OS3' %}bg-success{% endif %}">
                                                {{ exist_order.get_order_status_display }}
                                    </span>
                                    <span class="badge {% if exist_order.payment_status == 'PS1' %}bg-danger{% endif %}
                                                        {% if exist_order.payment_status == 'PS2' %}bg-warning text-dark{% endif %}
                                                        {% if exist_order.payment_status == 'PS3' %}bg-success{% endif %}
                                                        {% if exist_order.payment_status == 'PS4' %}bg-dark{% endif %}">
                                                        {{ exist_order.get_payment_status_display }}</span>
                                </div>
                            </div>
                            
                            <hr>
                            {% for orders in exist_order.measurements.all %}
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>#</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.measure_id }} </span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Fabric Type</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.fb_type }} </span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Tayloring Style</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.tailr_styl }} </span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Color</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.color }} </span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Price</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.price }} </span>
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Total Amt</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>{{ exist_order.total_amnt_to_pay }}</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Total paid</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>{{ exist_order.total_paid_amount }}</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Balance</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>{{ exist_order.balance_amount }}</span>
                                    </div>
                                </li>
                            </ul>

                             <div class="mb-3"></div>
                            <div class="editButtonGroup">
                                <button type="button" class="btn btn-outline-primary" id="" data-bs-toggle="modal" data-bs-target="#exampleModal_{{exist_order.pk}}"> 
                                    <i class="fas fa-edit"></i> Edit
                                </button>
                                <button  class="btn btn-outline-primary">
                                    <a href="{% url 'dashboard:invoice_pdf' exist_order.order_id  exist_order.order_id %}" class="btn" download>
                                        <i class="fas fa-download"></i> Download
                                    </a>
                                </button>
                                <button  class="btn btn-outline-primary">
                                    <a href="{% url 'dashboard:print_generate' exist_order.id %}" class="btn">
                                        <i class="fas fa-print"></i> Print 
                                    </a>
                                </button>
                                <button  class="btn btn-outline-primary">    
                                    <a href="{% url 'orders:order_submission' exist_order.customer.id %}" class="btn">
                                        <i class="fas fa-plus"></i> Add Order
                                    </a>
                                </button>
                              
                            </div> 
                        </div>
                    </div>

                    <!-- Modal -->
       
                    <div class="modal fade" id="exampleModal_{{exist_order.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Order Status </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="{% url 'dashboard:customer_profile' %}" method="post">{% csrf_token %}
                                <div class="modal-body">
                                    <div class="formWrap">
                                            <div class="row">
                                            <input type="hidden" value="{{exist_order.pk}}" name="order_id" >
                                            <input type="hidden"  name="user_input" value="{{ customer_obj.user_id }}">
                                                {% if not exist_order.balance_amount == 0 %}
                                                <div class="col-6">
                                                    <div class="inputWrap">
                                                        <label for="" class="form-label">Pay balance</label>
                                                        <input type="number" class="form-control" id="id_balance_pay" placeholder="" name="balance_pay"
                                                        value="{{exist_order.balance_amount}}">
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="col-6">
                                                    <div class="inputWrap">
                                                        <label for="" class="form-label">Order Status</label>
                                                        <select name="order_status" id="placeList" class="form-select">
                                                            <option value="OS1" {% if exist_order.order_status == "OS1" %}selected{% endif %}>Ordered</option>
                                                            <option value="OS2" {% if exist_order.order_status == "OS2" %}selected{% endif %}>Completed</option>
                                                            <option value="OS3" {% if exist_order.order_status == "OS3" %}selected{% endif %}>Delivered</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary save">Save changes</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}

                    {% if completed_orders %}
                    <div class="subtitleWrap">
                        <h3>
                            Completed orders
                        </h3>
                    </div>
                    {% for exist_order in completed_orders %}
                    
                    <div class="list-group">
                        <div class="list-group-inwrap">
                            <div class="d-flex w-100 justify-content-between mb-2">
                                    <h5 class="mb-2">Order ID - {{exist_order.order_id }}</h5>
                            </div>
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <h6 class=""><i class="fas fa-calendar-alt"></i> <small>Delivery Date -</small> {{ exist_order.measurements.all.0.order.deliver_at }}</h6>
                                <div class="badges-wrap">
                                    <span class="badge {% if exist_order.order_status == 'OS1' %}bg-danger{% endif %}
                                                        {% if exist_order.order_status == 'OS2' %}bg-warning text-dark{% endif %}
                                                        {% if exist_order.order_status == 'OS3' %}bg-success{% endif %}">
                                                {{ exist_order.get_order_status_display }}
                                    </span>
                                    <span class="badge {% if exist_order.payment_status == 'PS1' %}bg-danger{% endif %}
                                                        {% if exist_order.payment_status == 'PS2' %}bg-warning text-dark{% endif %}
                                                        {% if exist_order.payment_status == 'PS3' %}bg-success{% endif %}
                                                        {% if exist_order.payment_status == 'PS4' %}bg-dark{% endif %}">
                                                        {{ exist_order.get_payment_status_display }}</span>
                                </div>
                            </div>
                            
                            <hr>
                            {% for orders in exist_order.measurements.all %}
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>#</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.measure_id }} </span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Fabric Type</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.fb_type }} </span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Tayloring Style</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.tailr_styl }} </span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Color</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.color }} </span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Price</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.price }} </span>
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Total Amt</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>{{ exist_order.total_amnt_to_pay }}</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Total paid</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>{{ exist_order.total_paid_amount }}</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Balance</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>{{ exist_order.balance_amount }}</span>
                                    </div>
                                </li>
                            </ul>

                             <div class="mb-3"></div>
                            <div class="editButtonGroup">
                                <button type="button" class="btn btn-outline-primary" id="" data-bs-toggle="modal" data-bs-target="#exampleModal_{{exist_order.pk}}"> 
                                    <i class="fas fa-edit"></i> Edit
                                </button>
                                <button  class="btn btn-outline-primary">
                                    <a href="{% url 'dashboard:invoice_pdf' exist_order.order_id  exist_order.order_id %}" class="btn" download>
                                        <i class="fas fa-download"></i> Download
                                    </a>
                                </button>
                                <button  class="btn btn-outline-primary">
                                    <a href="{% url 'dashboard:print_generate' exist_order.id %}" class="btn">
                                        <i class="fas fa-print"></i> Print 
                                    </a>
                                </button>
                                <button  class="btn btn-outline-primary">    
                                    <a href="{% url 'orders:order_submission' exist_order.customer.id %}" class="btn">
                                        <i class="fas fa-plus"></i> Add Order
                                    </a>
                                </button>
                              
                            </div> 

                        </div>
                    </div>

                    <!-- Modal -->
       
                    <div class="modal fade" id="exampleModal_{{exist_order.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Order Status </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="{% url 'dashboard:customer_profile' %}" method="post">{% csrf_token %}
                                <div class="modal-body">
                                    <div class="formWrap">
                                     <input type="hidden" value="{{exist_order.pk}}" name="order_id" >
                                            <input type="hidden"  name="user_input" value="{{ customer_obj.user_id }}">

                                            <div class="row">
                                            
                                                {% if not exist_order.balance_amount == 0 %}
                                                <div class="col-6">
                                                    <div class="inputWrap">
                                                        <label for="" class="form-label">Pay balance</label>
                                                        <input type="number" class="form-control" id="id_balance_pay" placeholder="" name="balance_pay"
                                                        value="{{exist_order.balance_amount}}">
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="col-6">
                                                    <div class="inputWrap">
                                                        <label for="" class="form-label">Order Status</label>
                                                        <select name="order_status" id="placeList" class="form-select">
                                                            <option value="OS1" {% if exist_order.order_status == "OS1" %}selected{% endif %}>Ordered</option>
                                                            <option value="OS2" {% if exist_order.order_status == "OS2" %}selected{% endif %}>Completed</option>
                                                            <option value="OS3" {% if exist_order.order_status == "OS3" %}selected{% endif %}>Delivered</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}


                    {% if delivered_orders %}
                    <div class="subtitleWrap">
                        <h3>
                            Delivered orders
                        </h3>
                    </div>
                    {% for exist_order in delivered_orders %}
                    
                    <div class="list-group">
                        <div class="list-group-inwrap">
                            <div class="d-flex w-100 justify-content-between mb-2">
                                  <h5 class="mb-2">Order ID - {{exist_order.order_id }}</h5>

                                
                            </div>
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <h6 class=""><i class="fas fa-calendar-alt"></i> <small>Delivery Date -</small> {{ exist_order.measurements.all.0.order.deliver_at }}</h6>
                                <div class="badges-wrap">
                                    <span class="badge {% if exist_order.order_status == 'OS1' %}bg-danger{% endif %}
                                                        {% if exist_order.order_status == 'OS2' %}bg-warning text-dark{% endif %}
                                                        {% if exist_order.order_status == 'OS3' %}bg-success{% endif %}">
                                                {{ exist_order.get_order_status_display }}
                                    </span>
                                    <span class="badge {% if exist_order.payment_status == 'PS1' %}bg-danger{% endif %}
                                                        {% if exist_order.payment_status == 'PS2' %}bg-warning text-dark{% endif %}
                                                        {% if exist_order.payment_status == 'PS3' %}bg-success{% endif %}
                                                        {% if exist_order.payment_status == 'PS4' %}bg-dark{% endif %}">
                                                        {{ exist_order.get_payment_status_display }}</span>
                                </div>
                            </div>
                            
                            <hr>
                            {% for orders in exist_order.measurements.all %}
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>#</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.measure_id }} </span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Fabric Type</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.fb_type }} </span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Tayloring Style</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.tailr_styl }} </span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Color</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.color }} </span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Price</span>
                                    </div>
                                    <div class="dataDiv">
                                            <span>{{ orders.price }} </span>
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Total Amt</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>{{ exist_order.total_amnt_to_pay }}</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Total paid</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>{{ exist_order.total_paid_amount }}</span>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="labelDiv">
                                        <span>Balance</span>
                                    </div>
                                    <div class="dataDiv">
                                        <span>{{ exist_order.balance_amount }}</span>
                                    </div>
                                </li>
                            </ul>
                             <div class="mb-3"></div>
                            <div class="editButtonGroup">
                                <button type="button" class="btn btn-outline-primary" id="" data-bs-toggle="modal" data-bs-target="#exampleModal_{{exist_order.pk}}"> 
                                    <i class="fas fa-edit"></i> Edit
                                </button>
                                <button  class="btn btn-outline-primary">
                                    <a href="{% url 'dashboard:invoice_pdf' exist_order.order_id  exist_order.order_id %}" class="btn" download>
                                        <i class="fas fa-download"></i> Download
                                    </a>
                                </button>
                                <button  class="btn btn-outline-primary">
                                    <a href="{% url 'dashboard:print_generate' exist_order.id %}" class="btn">
                                        <i class="fas fa-print"></i> Print 
                                    </a>
                                </button>
                                <button  class="btn btn-outline-primary">    
                                    <a href="{% url 'orders:order_submission' exist_order.customer.id %}" class="btn">
                                        <i class="fas fa-plus"></i> Add Order
                                    </a>
                                </button>
                              
                            </div> 
                        </div>
                    </div>

                    <!-- Modal -->
       
                    <div class="modal fade" id="exampleModal_{{exist_order.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Order Status </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <form action="{% url 'dashboard:customer_profile' %}" method="post">{% csrf_token %}
                                <div class="modal-body">
                                    <div class="formWrap">
                                            <div class="row">
                                                <input type="hidden" value="{{exist_order.pk}}" name="order_id" >
                                            <input type="hidden"  name="user_input" value="{{ customer_obj.user_id }}">

                                                {% if not exist_order.balance_amount == 0 %}
                                                <div class="col-6">
                                                    <div class="inputWrap">
                                                        <label for="" class="form-label">Pay balance</label>
                                                        <input type="number" class="form-control" id="id_balance_pay" placeholder="" name="balance_pay"
                                                        value="{{exist_order.balance_amount}}">
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="col-6">
                                                    <div class="inputWrap">
                                                        <label for="" class="form-label">Order Status</label>
                                                        <select name="order_status" id="placeList" class="form-select">
                                                            <option value="OS1" {% if exist_order.order_status == "OS1" %}selected{% endif %}>Ordered</option>
                                                            <option value="OS2" {% if exist_order.order_status == "OS2" %}selected{% endif %}>Completed</option>
                                                            <option value="OS3" {% if exist_order.order_status == "OS3" %}selected{% endif %}>Delivered</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}


                </div>
            </div>
        </div>

       
        
        <script src="/static/js/all.js" async defer></script>
    </body>
</html>