@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 65px;
    background: rgb(212, 212, 212);
    margin-bottom: 20px;
}

hr{
    margin-top: 10px!important;
    margin-bottom: 10px;
}

img{
    max-width: 100%;
}